<!DOCTYPE html>
<html>
<head>
  <title>Sound Off</title>
</head>

<body>
<div id="left">
  <div id="login">
    <%= link_to "google", "auth/google_oauth2" %><br />
    <%= link_to "logOut", "/logout", method: "delete" %>
    <%= session[:user_id] %><br />
  </div>
  <div id="scoreboard">
    <span>Leaderboard</span>
    <% @leaders.each do |x| %>
    <%= x.score %>
    <% end %>
  </div>
  <div id="song_lists">songlists
  </div>
</div>
<div id="right">
  <div class="center">
    <div id="cheat_screen" class="screen_up">Cheating Screen!</div>
    <div id="game_over" class="end_game">
      <h1>Game Over</h1>
      <button><a href="javascript:history.go(0);">Play Again</a></button>
    </div>
      <div id="player"></div>
    <br />
    <input type="text" id="guess" placeholder="Guess Here..." />
    <br />
    <button onclick="submit();" href="javascript:;" id="submit">Submit</button>
    <p>You're score is: <span id="score">...</span></p>
    <div id="wrong"></div>
  </div>
</div>


<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      playerVars: {
        showinfo: 0,
        controls: 0, 
        minimalbranding: 0,
        disablekb: 0
      },
     loadPlaylist:{
        listType:'playlist',
        list:gon.youtube,
        index:parseInt(0),
        suggestedQuality:'small'
     },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
  function onPlayerReady(event) {
    event.target.loadPlaylist([gon.youtube]);
  }
  function onPlayerStateChange(event) {
    if (player.getPlayerState() == 1) {
      var band = player.getVideoData().title.split(" - ")[0];
      console.log(band);
    }
  }
  function stopVideo() {
    player.stopVideo();
  }

  // The Game ------------------
  var score = 0;

  function submit() {
    var band = player.getVideoData().title.split(" - ")[0];
    var guess = document.getElementById('guess').value;
    console.log(guess);
    if (guess == band) {
      if (player.nextVideo()) {
        player.nextVideo();
        score++;
        document.getElementById('score').innerHTML = score;

        element = document.getElementById('cheat_screen');
        element.classList.remove('screen_up');
        element.offsetWidth = element.offsetWidth;
        element.classList.add('screen_up');
      } else {
        player.stopVideo();
        score = score + 100;
      }
    } else {
      player.stopVideo();
      document.getElementById('game_over').style.display = "block";
      document.getElementById('score').innerHTML = score;
      document.getElementById('wrong').innerHTML = band;

      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", '/score', true);
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send("score="+score);
    }
    document.getElementById('guess').value = "";
    console.log(score);
  }
</script>

</body>
</html>




