// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$colorFont: #343434;


body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #343434;
	font-family: "Helvetica";
	overflow: hidden;
}
// The Top Nav Bar -----------------------------------
#top_bar {
	position: fixed;
	width: 100%;
	height: 65px;
	z-index: 102;
	background-color: white;
	opacity: 1;

	.wrap {
		height: 65px;
		position: relative;
	}
	.left {
		float: left;
		margin-left: 30px;

		#trig {
			display: inline-block;
		}
		#trig:hover {
			cursor: pointer;
		}
	}
	.right {
		float: right;
		margin-right: 30px;

		#pic {
			float: right;

			img {
				border-radius: 50px;
			}
		}
	}
	.pad {
		border-radius: 50px;
		border: 1px solid darkred;
	}
	.info, .pad {
		display: inline-block;
		padding: 10px 15px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
#left {
	width: 300px;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 65px;
	background-color: white;
	margin-left: -300px;
	transition: 1.5s ease;
	box-shadow: 1px 1px 15px $colorFont;
	z-index: 100;

	.contain {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;

		.lead {
			text-align: left;
			list-style-type: decimal;

			li {
				line-height: 30px;
			}
		}
		.songs {
			list-style-type: none;
			padding-left: 15px;
			text-align: left;

			li {
				line-height: 30px;
			}
		}

		.title {
			font-size: 1.4em;
			text-decoration: underline;
		}
	}
}

#right {
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 90;

	#player {
		position: absolute;
		height: 100vh;
		width: 100vw;
	}
	
	.guess_bar {
		width: 1140px;
		height: 100px;
		padding: 20px;
		z-index: 95;
		background-color: white;
		box-shadow: 1px 1px 15px $colorFont;
		position: absolute;
		top: 87%;
		left: 50%;
		transform: translate(-50%, -50%);

		#guess {
			font-size: 69px;
			width: 870px;
			margin-top: 8.5px;
			border: none;
			float: left;
			border-bottom: 2px solid darkred;
		}
		#guess:focus, #submit_guess:focus {
			outline: none;
		}
		#submit_guess {
			border: 1px solid darkred;
			background-color: white;
			width: 250px;
			height: 60px;
			font-size: 30px;
			margin-top: 20px;
			float: right;
			color: gray;
			border-radius: 50px;
		}
	}
	#game_over {
		display: none;
		background-color: white;
		border: 2px solid darkred;
		text-align: center;
		width: 600px;
		height: 300px;
		position: absolute;
		box-shadow: 1px 1px 15px $colorFont;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 600px;

		h1 {
			font-size: 100px;
		}
	}
}

@keyframes screen {
	0% { opacity: 1; }
	80% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}


















